<div class="row">
  <div class="col-md-3">
   <div class="form-group">
    <label for="host_name"><b>Host Name</b></label>
    <input type="email" class="form-control" id="host_name"  placeholder="Enter Host Name">
    
  </div>
  </div>
 <div class="col-md-3">
   <div class="form-group">
    <label for="loop_back"><b>Loop back</b></label>
    <input type="email" class="form-control" id="loop_back"  placeholder="Enter Loopback Name">
    
  </div>
  
  </div>
<div class="col-md-3">
  <div class="form-group">
  <br>
  <input type="button" class="btn btn-xs btn-primary" value="Add">

</div>
</div>
</div> 
